Repository kubeshark/kubeshark, pull requests merged in 2022-02, with the labels that each got.

#739 Fix the Redis dissector
  tap/extensions/redis/read.go
Labels: bug

#731 Trim the `query` before setting it
  ui/src/components/Filters.tsx
Labels: bug

#755 Moving from Semver to major.patch versioning
  .github/workflows/release.yml
  cli/cmd/version.go
  cli/config/configStruct.go
  cli/mizu/consts.go
  cli/mizu/version/versionCheck.go
  cli/pkg/version/version.go
  cli/pkg/version/version_test.go
  cli/telemetry/telemetry.go
Labels: CI

#756 Fix release after version change
  .github/workflows/release.yml
Labels: bug, CI

#758 Fix cli build param ver
  .github/workflows/release.yml
  Dockerfile
  Makefile
  agent/keto/build-push-featurebranch.sh
  agent/kratos/build-push-featurebranch.sh
  agent/pkg/controllers/metadata_controller.go
  agent/pkg/version/consts.go
  cli/Makefile
  cli/README.md.TEMPLATE
  cli/apiserver/provider.go
  cli/mizu/version/versionCheck.go
  devops/build-agent-ci.sh
  devops/build-push-featurebranch.sh
  shared/models.go
Labels: versioning

#760 Fixing warning during release workflow
  .github/workflows/release.yml
Labels: CI

#761 Upload codecov report for develop and main branches
  .github/workflows/test.yml
Labels: tests, CI

#750 Added redis acceptance test
  acceptanceTests/cypress.json
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/IgnoredUserAgents.js
  acceptanceTests/cypress/integration/tests/NoRedact.js
  acceptanceTests/cypress/integration/tests/Redact.js
  acceptanceTests/cypress/integration/tests/Redis.js
  acceptanceTests/cypress/integration/tests/RegexMasking.js
  acceptanceTests/cypress/integration/tests/UiTest.js
  acceptanceTests/extensions_test.go
  acceptanceTests/go.mod
  acceptanceTests/go.sum
  acceptanceTests/setup.sh
  acceptanceTests/testsUtils.go
Labels: proto/redis, tests

#778 Improve request-response matching and fix some interface conversion errors
  tap/api/api.go
  tap/extensions/amqp/helpers.go
  tap/extensions/http/handlers.go
  tap/extensions/http/matcher.go
  tap/extensions/kafka/helpers.go
  tap/extensions/kafka/main.go
  tap/extensions/kafka/request.go
  tap/extensions/kafka/response.go
  tap/extensions/redis/handlers.go
  tap/extensions/redis/matcher.go
  tap/tcp_stream_factory.go
Labels: bug, agent/tapper, proto/http, proto/http2, proto/grpc, proto/kafka, proto/amqp, proto/redis

#777 Add `test-lint` Makefile rule
  Makefile
Labels: tests

#767 Add unit tests for HTTP dissector
  .github/workflows/test.yml
  .gitignore
  Makefile
  tap/api/api.go
  tap/extensions/http/Makefile
  tap/extensions/http/go.mod
  tap/extensions/http/go.sum
  tap/extensions/http/helpers.go
  tap/extensions/http/main_test.go
Labels: proto/http, proto/http2, proto/grpc, tests

#775 TRA-4219 blue bar many workspace support
  ui/src/components/UI/StatusBar.tsx
  ui/src/components/UI/style/StatusBar.sass
Labels: web-ui

#785 Upgrade Basenine version to `v0.4.14`
  Dockerfile
Labels: bug, basenine

#753 [TRA-4259] Service Map UI improvements
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
  ui/src/components/ServiceMapModal/ServiceMapModal.sass
  ui/src/components/ServiceMapModal/ServiceMapModal.tsx
  ui/src/components/ServiceMapModal/ServiceMapOptions.ts
  ui/src/components/assets/close.svg
  ui/src/components/assets/refresh.svg
  ui/src/components/assets/reset.svg
  ui/src/components/assets/serviceMap.svg
  ui/src/components/assets/services.svg
  ui/src/helpers/commonStyle.ts
Labels: enhancement, web-ui

#788 Fix: tapper status race condition
  agent/pkg/api/socket_server_handlers.go
  agent/pkg/api/utils.go
  agent/pkg/controllers/config_controller.go
  agent/pkg/controllers/status_controller.go
Labels: bug

#796 Upgrade Basenine version to `v0.4.16`
  Dockerfile
Labels: bug, basenine

#793 Move the request-response matcher's scope from global-level to TCP stream-level
  tap/api/api.go
  tap/cleaner.go
  tap/extensions/amqp/main.go
  tap/extensions/http/Makefile
  tap/extensions/http/handlers.go
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/http/matcher.go
  tap/extensions/kafka/main.go
  tap/extensions/kafka/matcher.go
  tap/extensions/kafka/request.go
  tap/extensions/kafka/response.go
  tap/extensions/redis/handlers.go
  tap/extensions/redis/main.go
  tap/extensions/redis/matcher.go
  tap/passive_tapper.go
  tap/tcp_reader.go
  tap/tcp_stream_factory.go
Labels: bug, enhancement, agent/tapper, proto/http, proto/http2, proto/grpc, proto/kafka, proto/redis

#805 TRA-4321 remove reset button
  ui/src/components/ServiceMapModal/ServiceMapModal.tsx
  ui/src/components/assets/reset.svg
Labels: web-ui

#769 Added AMQP acceptance test
  acceptanceTests/cypress.json
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/Rabbit.js
  acceptanceTests/cypress/integration/tests/Redis.js
  acceptanceTests/extensions_test.go
  acceptanceTests/go.mod
  acceptanceTests/go.sum
  acceptanceTests/setup.sh
Labels: proto/amqp, tests

#806 Add unit tests for AMQP dissector
  Makefile
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/go.mod
  tap/extensions/amqp/go.sum
  tap/extensions/amqp/helpers.go
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/amqp/read.go
  tap/extensions/amqp/spec091.go
  tap/extensions/amqp/types.go
  tap/extensions/amqp/write.go
Labels: proto/amqp, tests

#807 Add unit tests for Kafka dissector
  Makefile
  tap/api/api.go
  tap/extensions/http/matcher.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/buffer.go
  tap/extensions/kafka/cluster.go
  tap/extensions/kafka/decode.go
  tap/extensions/kafka/discard.go
  tap/extensions/kafka/encode.go
  tap/extensions/kafka/error.go
  tap/extensions/kafka/go.mod
  tap/extensions/kafka/go.sum
  tap/extensions/kafka/helpers.go
  tap/extensions/kafka/main_test.go
  tap/extensions/kafka/matcher.go
  tap/extensions/kafka/protocol.go
  tap/extensions/kafka/protocol_make.go
  tap/extensions/kafka/read.go
  tap/extensions/kafka/record.go
  tap/extensions/kafka/record_bytes.go
  tap/extensions/kafka/reflect.go
  tap/extensions/kafka/request.go
  tap/extensions/kafka/response.go
  tap/extensions/kafka/structs.go
  tap/extensions/redis/matcher.go
Labels: proto/kafka, tests

#809 Add unit tests for Redis dissector
  Makefile
  tap/extensions/redis/Makefile
  tap/extensions/redis/go.mod
  tap/extensions/redis/go.sum
  tap/extensions/redis/main_test.go
Labels: proto/redis, tests

#683 Add tls tapper
  agent/go.mod
  agent/go.sum
  agent/pkg/controllers/config_controller.go
  cli/cmd/tap.go
  cli/cmd/tapRunner.go
  cli/config/configStructs/tapConfig.go
  shared/kubernetes/mizuTapperSyncer.go
  shared/kubernetes/provider.go
  shared/kubernetes/utils.go
  tap/go.mod
  tap/go.sum
  tap/passive_tapper.go
  tap/tlstapper/bpf-builder/Dockerfile
  tap/tlstapper/bpf-builder/README.md
  tap/tlstapper/bpf-builder/build.sh
  tap/tlstapper/bpf/fd_to_address_tracepoints.c
  tap/tlstapper/bpf/fd_tracepoints.c
  tap/tlstapper/bpf/include/headers.h
  tap/tlstapper/bpf/include/maps.h
  tap/tlstapper/bpf/include/pids.h
  tap/tlstapper/bpf/include/util.h
  tap/tlstapper/bpf/openssl_uprobes.c
  tap/tlstapper/bpf/tls_tapper.c
  tap/tlstapper/chunk.go
  tap/tlstapper/ssllib_finder.go
  tap/tlstapper/ssllib_hooks.go
  tap/tlstapper/ssllib_offsets.go
  tap/tlstapper/syscall_hooks.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tls_process_discoverer.go
  tap/tlstapper/tls_reader.go
  tap/tlstapper/tls_tapper.go
  tap/tlstapper/tlstapper_bpfeb.go
  tap/tlstapper/tlstapper_bpfeb.o
  tap/tlstapper/tlstapper_bpfel.go
  tap/tlstapper/tlstapper_bpfel.o
Labels: enhancement, agent/tapper, arch/amd64, eBPF

#754 Disable DWARF and symbol table generation for CLI and build it statically
  cli/Makefile
Labels: bug, CLI

#822 Don't statically link the CLI
  cli/Makefile
Labels: bug, CLI

#819 TRA-4331 Implement full data streaming over WebSocket
  agent/pkg/api/socket_routes.go
  agent/pkg/models/models.go
  shared/models.go
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: enhancement, agent/api-server, web-ui

#831 Create and push the `latest` tag if the branch is `main` (stable)
  .github/workflows/release.yml
  README.md
Labels: CI

#835 Silence the logging that sourced from Basenine and protocol dissectors
  Dockerfile
  agent/go.mod
  agent/go.sum
  agent/pkg/app/main.go
  tap/extensions/amqp/main.go
  tap/extensions/http/main.go
  tap/extensions/kafka/main.go
  tap/extensions/redis/main.go
Labels: agent/api-server, agent/tapper, basenine

#839 Fix the issue in the WebSocket that's introduced by #819
  agent/pkg/api/socket_routes.go
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: bug, agent/api-server, web-ui

#842 Bring back the `query` argument of `getEntry` call which is accidentally removed with #631
  ui/src/components/EntryDetailed.tsx
Labels: bug, web-ui

#849 Don't mount configmaps for tappers
  shared/kubernetes/provider.go
Labels: bug, agent/tapper

#847 Cypress: Service Map test
  acceptanceTests/cypress/integration/tests/UiTest.js
Labels: web-ui, tests, CI

#848 Added tap pre check
  cli/cmd/check.go
  cli/cmd/checkRunner.go
  cli/config/configStruct.go
  cli/config/configStructs/checkConfig.go
  shared/fileUtils.go
  shared/kubernetes/provider.go
Labels: enhancement, CLI

#850 Cypress: minimum entries check
  acceptanceTests/cypress.json
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/GuiPort.js
  acceptanceTests/cypress/integration/tests/IgnoredUserAgents.js
  acceptanceTests/cypress/integration/tests/NoRedact.js
  acceptanceTests/cypress/integration/tests/Redact.js
  acceptanceTests/cypress/integration/tests/RegexMasking.js
  acceptanceTests/tap_test.go
Labels: tests, CI

#852 Fixed location of pre tap permission files
  cli/cmd/checkRunner.go
  cli/cmd/permissionFiles/permissions-all-namespaces-debug-optional.yaml
  cli/cmd/permissionFiles/permissions-all-namespaces-ip-resolution-optional.yaml
  cli/cmd/permissionFiles/permissions-all-namespaces-tap.yaml
  cli/cmd/permissionFiles/permissions-ns-debug-optional.yaml
  cli/cmd/permissionFiles/permissions-ns-ip-resolution-optional.yaml
  cli/cmd/permissionFiles/permissions-ns-tap.yaml
  docs/PERMISSIONS.md
  shared/fileUtils.go
Labels: bug, CLI

#853 Changed check server pod by label
  cli/cmd/checkRunner.go
  shared/kubernetes/provider.go
Labels: CLI

#864 Cypress: pods and namespaces to params & param for the 'src' and 'dest' checks
  acceptanceTests/cypress/integration/tests/UiTest.js
  acceptanceTests/tap_test.go
  acceptanceTests/testsUtils.go
Labels: tests

#863 Added image connectivity check
  cli/cmd/checkRunner.go
Labels: CLI

#866 Exported test utils functions
  acceptanceTests/config_test.go
  acceptanceTests/extensions_test.go
  acceptanceTests/logs_test.go
  acceptanceTests/tap_test.go
  acceptanceTests/testsUtils.go
Labels: tests
