Repository kubeshark/kubeshark, pull requests merged in 2022-07, with the labels that each got.

#1165 Ui/TRA-4607 - replay mizu requests
  ui-common/package.json
  ui-common/src/components/EntryDetailed/EntryDetailed.tsx
  ui-common/src/components/EntryDetailed/EntrySections/EntrySections.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/AutoRepresentation.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/EntryViewer.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/SectionsRepresentation.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/replay.svg
  ui-common/src/components/EntryDetailed/assets/run.svg
  ui-common/src/components/TrafficViewer/TrafficViewer.module.sass
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui-common/src/components/TrafficViewer/TrafficViewerApi.ts
  ui-common/src/components/UI/CodeEditor/CodeEditor.tsx
  ui-common/src/components/UI/HoverImage/HoverImage.tsx
  ui-common/src/components/UI/KeyValueTable/KeyValueTable.module.sass
  ui-common/src/components/UI/KeyValueTable/KeyValueTable.tsx
  ui-common/src/components/UI/KeyValueTable/delete-active.svg
  ui-common/src/components/UI/KeyValueTable/delete.svg
  ui-common/src/components/UI/Tabs/Tabs.tsx
  ui-common/src/components/modals/ReplayRequestModal/ReplayRequestModal.module.sass
  ui-common/src/components/modals/ReplayRequestModal/ReplayRequestModal.tsx
  ui-common/src/components/modals/ReplayRequestModal/assets/close.svg
  ui-common/src/components/modals/ReplayRequestModal/assets/refresh.svg
  ui-common/src/components/modals/ReplayRequestModal/assets/spinner.svg
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.module.sass
  ui-common/src/helpers/Utils.ts
  ui-common/src/hooks/useDebounce.ts
  ui-common/src/recoil/entryData/atom.ts
  ui-common/src/recoil/entryData/index.ts
  ui-common/src/recoil/replayRequestModalOpen/atom.ts
  ui-common/src/recoil/replayRequestModalOpen/index.ts
  ui-common/src/recoil/serviceMapModalOpen/atom.ts
  ui-common/src/recoil/serviceMapModalOpen/index.ts
  ui/src/helpers/api.js
  ui/src/index.sass
Labels: web-ui

#1179 Traffic stats - selects view adjustments
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
Labels: web-ui

#1174 Merge traffic stats endpoints to one and add auto interval logic
  agent/pkg/app/main.go
  agent/pkg/controllers/status_controller.go
  agent/pkg/providers/stats_provider.go
  agent/pkg/providers/stats_provider_internal_test.go
  agent/pkg/routes/status_routes.go
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimelineBarChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui/src/App.tsx
  ui/src/helpers/api.js
Labels: agent/api-server, web-ui

#1181 with loading HOC
  ui-common/src/components/EntryDetailed/EntryDetailed.tsx
  ui-common/src/components/UI/index.ts
  ui-common/src/components/UI/withLoading/spinner.svg
  ui-common/src/components/UI/withLoading/withLoading.tsx
  ui-common/src/components/modals/ReplayRequestModal/ReplayRequestModal.tsx
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.module.sass
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
Labels: web-ui

#1184 Add available protocols to the stats endpoint (colors for methods are coming from server)
  agent/pkg/providers/stats_provider.go
  agent/pkg/providers/stats_provider_internal_test.go
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimelineBarChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui-common/src/helpers/Utils.ts
Labels: agent/api-server, web-ui

#1187 warning cleaning from console
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimelineBarChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui-common/src/components/modals/TrafficStatsModal/consts.ts
  ui-common/src/index.tsx
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: web-ui

#1189 Replaced ProtocolId with Protocol Summary
  agent/pkg/api/entry_streamer_socket_connector.go
  agent/pkg/api/main.go
  agent/pkg/controllers/service_map_controller_test.go
  agent/pkg/entries/entries_provider.go
  agent/pkg/oas/oas_generator.go
  agent/pkg/providers/stats_provider_test.go
  agent/pkg/servicemap/servicemap_test.go
  tap/api/api.go
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/http/Makefile
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/main.go
  tap/extensions/kafka/main_test.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/main.go
  tap/extensions/redis/main_test.go
Labels: agent/api-server, agent/tapper

#1193 Fixed panic in socket cleanup
  agent/pkg/api/socket_routes.go
Labels: agent/api-server

#1091 Implement AMQP request-response matcher
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/go.mod
  tap/extensions/amqp/go.sum
  tap/extensions/amqp/helpers.go
  tap/extensions/amqp/main.go
  tap/extensions/amqp/matcher.go
  tap/extensions/amqp/spec091.go
  ui-common/package-lock.json
  ui-common/package.json
  ui-common/src/components/EntryDetailed/EntryViewer/SectionsRepresentation.tsx
Labels: proto/amqp

#1196 Added redact using insertion filter
  acceptanceTests/cypress.config.js
  acceptanceTests/cypress/e2e/tests/RegexMasking.js
  acceptanceTests/tap_test.go
  cli/cmd/tap.go
  cli/cmd/tapRunner.go
  cli/config/configStructs/tapConfig.go
  performance_analysis/run_tapper_benchmark.sh
  tap/api/options.go
  tap/extensions/http/handlers.go
  tap/extensions/http/sensitive_data_cleaner.go
Labels: agent/api-server, agent/tapper, CLI

#1197 Hide Response tab if there is no resepone
  ui-common/src/components/EntryDetailed/EntryViewer/AutoRepresentation.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/SectionsRepresentation.tsx
Labels: web-ui

#1200 Fix colors map to get the correct color for protocol in stats
  agent/pkg/providers/stats_provider.go
  tap/api/api.go
Labels: bug

#1198 Removed redundant IgnoredUserAgents field
  cli/cmd/tapRunner.go
  shared/kubernetes/mizuTapperSyncer.go
Labels: CLI

#1199 Add time range to stats
  agent/pkg/controllers/status_controller.go
  agent/pkg/providers/stats_provider.go
  ui-common/package-lock.json
  ui-common/package.json
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimeRangePicker/TimeTangePicker.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui/package-lock.json
  ui/package.json
  ui/public/index.html
  ui/src/App.tsx
  ui/src/helpers/api.js
Labels: web-ui

#1204 fix elastic time picker ui css
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimeRangePicker/TimeTangePicker.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui/public/index.html
Labels: web-ui

#1206 Grooming Traffic Stats Modal - change font and time picker position
  ui-common/src/components/modals/TrafficStatsModal/TimelineBarChart/TimelineBarChart.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui-common/src/variables.module.scss
Labels: web-ui

#1208 Removed telemetry
  acceptanceTests/go.mod
  acceptanceTests/go.sum
  acceptanceTests/testsUtils.go
  agent/go.mod
  agent/go.sum
  cli/apiserver/provider.go
  cli/cmd/check.go
  cli/cmd/clean.go
  cli/cmd/config.go
  cli/cmd/install.go
  cli/cmd/logs.go
  cli/cmd/tapRunner.go
  cli/cmd/version.go
  cli/cmd/view.go
  cli/config/configStruct.go
  cli/go.mod
  cli/go.sum
  cli/mizu/consts.go
  cli/mizu/version/versionCheck.go
  cli/telemetry/telemetry.go
  shared/models.go
Labels: CLI

#1209 Fix memory of acceptanceTests minikube cluster
  acceptanceTests/setup.sh
Labels: tests

#1211 Change tests to use github repo
  .github/workflows/acceptance_tests.yml
  .github/workflows/release.yml
  tap/extensions/amqp/Makefile
  tap/extensions/get-folder-of-tests.sh
  tap/extensions/http/Makefile
  tap/extensions/kafka/Makefile
  tap/extensions/redis/Makefile
Labels: tests
