Repository kubeshark/kubeshark, pull requests merged in 2022-03, with the labels that each got.

#834 Add acceptance tests for k8s permissions
  .github/workflows/acceptance_tests.yml
  acceptanceTests/create_user.sh
  acceptanceTests/extensions_test.go
  acceptanceTests/setup.sh
  acceptanceTests/tap_test.go
  acceptanceTests/testsUtils.go
  cli/cmd/permissionFiles/permissions-all-namespaces-debug-optional.yaml
  cli/cmd/permissionFiles/permissions-all-namespaces-ip-resolution-optional.yaml
  cli/cmd/permissionFiles/permissions-all-namespaces-tap.yaml
  cli/cmd/permissionFiles/permissions-ns-debug-optional.yaml
  cli/cmd/permissionFiles/permissions-ns-ip-resolution-optional.yaml
  cli/cmd/permissionFiles/permissions-ns-tap.yaml
Labels: tests

#873 Upgrade Basenine version to `v0.5.4`
  Dockerfile
  agent/go.mod
  agent/go.sum
  cli/go.mod
  cli/go.sum
Labels: bug, basenine

#878 Add option to specify k8s context
  cli/cmd/checkRunner.go
  cli/cmd/common.go
  cli/config/configStruct.go
  shared/kubernetes/provider.go
Labels: enhancement, CLI

#879 Readme changes: moving all usage documentation to getmizu.io, and have only dev documentation in Github
  README.md
  docs/CONFIGURATION.md
  docs/CONTRACT_MONITORING.md
  docs/INSTALL_STANDALONE.md
  docs/PERMISSIONS.md
  docs/POLICY_RULES.md
  docs/SERVICE_MESH.md
Labels: documentation

#854 TRA-4256 gui oas window
  ui/package-lock.json
  ui/src/App.tsx
  ui/src/components/OasModal/OasModal.module.sass
  ui/src/components/OasModal/OasModal.sass
  ui/src/components/OasModal/OasModal.tsx
  ui/src/components/OasModal/redocThemeOptions.ts
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
  ui/src/components/ServiceMapModal/ServiceMapModal.tsx
  ui/src/components/UI/Tabs.tsx
  ui/src/components/assets/openApiLogo.png
  ui/src/helpers/api.js
  ui/src/index.sass
  ui/src/recoil/oasModalOpen/atom.ts
  ui/src/recoil/oasModalOpen/index.ts
Labels: web-ui

#877 Always derive the summary and method fields from the entry in the database on read
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/Rabbit.js
  acceptanceTests/cypress/integration/tests/Redis.js
  acceptanceTests/cypress/integration/tests/UiTest.js
  agent/pkg/api/socket_routes.go
  agent/pkg/app/main.go
  agent/pkg/controllers/entries_controller.go
  agent/pkg/elastic/esClient.go
  agent/pkg/models/models.go
  tap/api/api.go
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/http/Makefile
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/main.go
  tap/extensions/kafka/main_test.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/main.go
  tap/extensions/redis/main_test.go
  ui/src/components/EntryDetailed.tsx
  ui/src/components/EntryListItem/EntryListItem.tsx
  ui/src/components/UI/StatusCode.tsx
  ui/src/components/UI/Summary.tsx
Labels: enhancement, agent/api-server, agent/tapper, proto/http, proto/http2, proto/grpc, proto/kafka, proto/amqp, proto/redis, web-ui, tests, basenine

#876 Run PR validation check only when needed & use docker cache during build
  .github/workflows/build.yml
  .github/workflows/test.yml
  devops/check_modified_files.sh
Labels: CI

#888 Adding dev latest tag for each pre-release docker
  .github/workflows/release.yml
Labels: CI

#865 set bpf filter for pcap
  tap/passive_tapper.go
  tap/source/netns_packet_source.go
  tap/source/packet_source_manager.go
  tap/source/tcp_packet_source.go
Labels: agent/tapper

#891 Upgrade to Basenine `v0.6.3`, add `xml` and time helpers, make `xml` and `json` helpers available in `redact` helper
  Dockerfile
  agent/go.mod
  agent/go.sum
  cli/go.mod
  cli/go.sum
  ui/src/helpers/api.js
Labels: bug, enhancement, web-ui, basenine

#886 Add an indicator for the eBPF sourced entries
  tap/api/api.go
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/helpers.go
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/http/Makefile
  tap/extensions/http/handlers.go
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/main.go
  tap/extensions/kafka/main_test.go
  tap/extensions/kafka/response.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/handlers.go
  tap/extensions/redis/main.go
  tap/extensions/redis/main_test.go
  tap/tcp_reader.go
  tap/tlstapper/tls_poller.go
  ui-common/src/components/TrafficViewer/EntryListItem/EntryListItem.module.sass
  ui-common/src/components/TrafficViewer/EntryListItem/EntryListItem.tsx
  ui-common/src/components/UI/Protocol.tsx
  ui-common/src/components/UI/Queryable.tsx
  ui/src/components/assets/ebpf.png
Labels: enhancement, agent/tapper, eBPF

#903 Refactor to the check command
  cli/cmd/check/imagePullInCluster.go
  cli/cmd/check/kubernetesApi.go
  cli/cmd/check/kubernetesPermissions.go
  cli/cmd/check/kubernetesResources.go
  cli/cmd/check/kubernetesVersion.go
  cli/cmd/check/serverConnection.go
  cli/cmd/checkRunner.go
Labels: CLI

#900 Fixing acceptance tests
  acceptanceTests/cypress/integration/testHelpers/StatusBarHelper.js
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/GuiPort.js
  acceptanceTests/cypress/integration/tests/MultipleNamespaces.js
  acceptanceTests/cypress/integration/tests/Regex.js
  acceptanceTests/cypress/integration/tests/UiTest.js
  ui-common/example/src/App.tsx
  ui-common/package.json
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui-common/src/components/TrafficViewer/TrafficViewerApi.ts
  ui-common/src/components/TrafficViewer/assets/ebpf.png
  ui-common/src/components/UI/Queryable.tsx
  ui-common/src/components/UI/StatusBar.tsx
  ui-common/src/hooks/useWS.tsx
  ui/package.json
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: tests

#898 Fix tapping status falling out of sync
  shared/kubernetes/mizuTapperSyncer.go
Labels: agent/tapper

#897 TRA-4383 Calculate request and response sizes and display them instead of `BodySize` field
  agent/pkg/controllers/entries_controller.go
  tap/api/api.go
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/helpers.go
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/http/Makefile
  tap/extensions/http/handlers.go
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/http/matcher.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/main.go
  tap/extensions/kafka/main_test.go
  tap/extensions/kafka/response.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/handlers.go
  tap/extensions/redis/main.go
  tap/extensions/redis/main_test.go
  tap/extensions/redis/matcher.go
  tap/tcp_reader.go
  tap/tcp_stream_factory.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tls_reader.go
  ui-common/package.json
  ui-common/src/components/TrafficViewer/EntryDetailed.tsx
  ui-common/src/components/TrafficViewer/EntryListItem/EntryListItem.tsx
  ui-common/src/components/assets/ebpf.png
  ui/package.json
Labels: enhancement

#907 Fix acceptance test
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/UiTest.js
Labels: tests

#893 Support TLS big buffers
  tap/tlstapper/bpf-builder/build.sh
  tap/tlstapper/bpf/fd_to_address_tracepoints.c
  tap/tlstapper/bpf/fd_tracepoints.c
  tap/tlstapper/bpf/include/maps.h
  tap/tlstapper/bpf/openssl_uprobes.c
  tap/tlstapper/chunk.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tlstapper_bpfeb.o
  tap/tlstapper/tlstapper_bpfel.o
Labels: agent/tapper, eBPF

#915 Tra 4122 oas gui grooming
  ui-common/example/src/App.tsx
  ui-common/package.json
  ui-common/src/components/OasModal/OasModal.module.sass
  ui-common/src/components/OasModal/OasModal.tsx
  ui-common/src/components/OasModal/redocThemeOptions.ts
  ui-common/src/components/UI/Select.tsx
  ui-common/src/components/UI/Tabs.tsx
  ui-common/src/components/UI/style/Select.module.sass
  ui/package.json
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: web-ui

#918 quick tls update pods solution
  tap/passive_tapper.go
  tap/tlstapper/tls_process_discoverer.go
  tap/tlstapper/tls_tapper.go
Labels: agent/tapper, eBPF

#930 Fix OAS button type that causes acceptance tests to fail
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: web-ui, tests

#931 Bump the version to `0.6.6` and fix the index shift bug that occurs after database truncation
  Dockerfile
  agent/go.mod
  agent/go.sum
  cli/go.mod
  cli/go.sum
Labels: bug, agent/api-server, basenine

#924 Add props to Checkbox UI component
  ui-common/package.json
  ui-common/src/components/UI/Checkbox.tsx
  ui/package.json
Labels: web-ui, tests

#935 passed containerId in the object config
  ui-common/package.json
  ui-common/src/components/TrafficViewer/EntryDetailed.tsx
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui/package.json
Labels: web-ui

#936 TRA-4419 remove headers from OAS select
  ui-common/package.json
  ui-common/src/components/OasModal/OasModal.tsx
  ui/package.json
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
Labels: web-ui

#906 EBPF error handling
  tap/passive_tapper.go
  tap/tlstapper/bpf/fd_to_address_tracepoints.c
  tap/tlstapper/bpf/fd_tracepoints.c
  tap/tlstapper/bpf/include/log.h
  tap/tlstapper/bpf/include/logger_messages.h
  tap/tlstapper/bpf/include/maps.h
  tap/tlstapper/bpf/openssl_uprobes.c
  tap/tlstapper/bpf/tls_tapper.c
  tap/tlstapper/bpf_logger.go
  tap/tlstapper/bpf_logger_messages.go
  tap/tlstapper/tls_tapper.go
  tap/tlstapper/tlstapper_bpfeb.go
  tap/tlstapper/tlstapper_bpfeb.o
  tap/tlstapper/tlstapper_bpfel.go
  tap/tlstapper/tlstapper_bpfel.o
Labels: agent/tapper, eBPF

#945 Support multiple workspaces (TRA-4365)
  ui-common/package.json
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui/package.json
Labels: web-ui

#914 Build ui-common part of CI
  .github/workflows/build.yml
  Dockerfile
  ui-common/package-lock.json
  ui-common/package.json
  ui/package.json
Labels: web-ui

#944 Read from service-mesh namespace
  tap/passive_tapper.go
  tap/source/packet_source_manager.go
Labels: agent/tapper
