Repository kubeshark/kubeshark, pull requests merged in 2022-05, with the labels that each got.

#1058 fix tls + creating tls_stream
  tap/tcp_reader.go
  tap/tcp_stream.go
  tap/tcp_stream_factory.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tls_reader.go
  tap/tlstapper/tls_stream.go
Labels: bug, agent/tapper, eBPF

#1059 Fix the request-response matcher maps iteration in `clean()` method and share the streams map with the TLS tapper
  tap/api/api.go
  tap/cleaner.go
  tap/extensions/amqp/tcp_stream_mock_test.go
  tap/extensions/http/tcp_stream_mock_test.go
  tap/extensions/kafka/tcp_stream_mock_test.go
  tap/extensions/redis/tcp_stream_mock_test.go
  tap/passive_tapper.go
  tap/tcp_reassembly_stream.go
  tap/tcp_stream.go
  tap/tcp_stream_factory.go
  tap/tcp_streams_map.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tls_reader.go
  tap/tlstapper/tls_stream.go
  tap/tlstapper/tls_tapper.go
Labels: bug, agent/tapper, eBPF, performance

#1064 Move "es Lint" to different step and add go lint on logger module
  .github/workflows/static_code_analysis.yml
Labels: CI

#980 Add GraphQL detection
  agent/go.mod
  agent/go.sum
  tap/extensions/http/go.mod
  tap/extensions/http/go.sum
  tap/extensions/http/graphql.go
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  ui-common/src/components/ServiceMapModal/ServiceMapModal.tsx
Labels: proto/http, proto/http2, web-ui, proto/graphql

#910 Add from ARM64 to AMD64 cross-compilation support to the agent image
  Dockerfile
  devops/linux-x86_64-musl-go-libpcap/Dockerfile
  devops/linux-x86_64-musl-go-libpcap/build-push.sh
Labels: enhancement, agent/api-server, agent/tapper, arch/amd64, arch/arm64

#1063 Bring back `debug.FreeOSMemory()` call to prevent `OOMKilled`(s)
  tap/tcp_streams_map.go
Labels: bug, agent/tapper, performance

#1066 update close icon in oas and service map modals
  ui-common/example/README.md
  ui-common/example/craco.config.js
  ui-common/example/package-lock.json
  ui-common/example/package.json
  ui-common/example/public/favicon.ico
  ui-common/example/public/index.html
  ui-common/example/public/manifest.json
  ui-common/example/src/App.test.tsx
  ui-common/example/src/App.tsx
  ui-common/example/src/api.js
  ui-common/example/src/index.css
  ui-common/example/src/index.tsx
  ui-common/example/src/react-app-env.d.ts
  ui-common/example/src/setupTests.ts
  ui-common/example/tsconfig.json
  ui-common/src/components/OasModal/OasModal.module.sass
  ui-common/src/components/OasModal/OasModal.tsx
  ui-common/src/components/OasModal/assets/closeIcon.svg
  ui-common/src/components/ServiceMapModal/ServiceMapModal.module.sass
  ui-common/src/components/ServiceMapModal/ServiceMapModal.tsx
Labels: web-ui

#887 Improve acceptance tests setup script
  .gitignore
  acceptanceTests/setup.sh
Labels: tests, CI

#1071 Fixed default mime type to empty string instead of text/html
  agent/pkg/har/utils.go
  tap/extensions/http/Makefile
  tap/extensions/http/main.go
Labels: bug, agent/tapper

#1056 Fetch N number of records in M milliseconds timeout before streaming the records
  Dockerfile
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/IgnoredUserAgents.js
  acceptanceTests/cypress/integration/tests/UiTest.js
  agent/go.mod
  agent/go.sum
  agent/pkg/api/socket_data_streamer.go
  agent/pkg/api/socket_routes.go
  agent/pkg/entries/entries_provider.go
  agent/pkg/oas/oas_generator.go
  agent/pkg/up9/main.go
  ui-common/src/components/TrafficViewer/EntriesList.tsx
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui-common/src/hooks/useWS.tsx
  ui-common/src/index.tsx
Labels: agent/api-server, web-ui

#1074 Fix acceptance tests failures caused by fetch 50 and a race in the tests
  .gitignore
  Dockerfile
  acceptanceTests/cypress/integration/tests/UiTest.js
  agent/go.mod
  agent/go.sum
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
Labels: tests, CI

#1076 Fixed oas query
  agent/pkg/oas/oas_generator.go
  agent/pkg/up9/main.go
Labels: bug, agent/api-server

#1079 Remove `ReassemblyStream` interface (duplicate of `gopacket/reassembly.Stream`)
  tap/tcp_reassembly_stream.go
Labels: agent/tapper

#1081 Replace the gRPC reference link with a better one
  tap/extensions/http/main.go
Labels: proto/grpc

#1082 Extracted insert to database functionality
  agent/main.go
  agent/pkg/api/main.go
  agent/pkg/api/socket_data_inserter.go
  agent/pkg/dependency/type_names.go
Labels: agent/api-server

#1080 Fix the Kafka `ApiKey` query and add `ApiKeyName` field (human-readable `ApiKey`)
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/helpers.go
  tap/extensions/kafka/main.go
  tap/extensions/kafka/request.go
Labels: bug, proto/kafka

#1085 Added send to socket error validation
  agent/pkg/api/entry_streamer_socket_connector.go
  agent/pkg/api/socket_data_streamer.go
Labels: bug, agent/api-server

#1088 Handle the wait for fetch in acceptance tests better
  acceptanceTests/cypress/integration/tests/UiTest.js
Labels: tests, CI

#1090 Fix a `nil pointer dereference` error that occurs in `tcpReader`'s `Read` method
  tap/tcp_reader.go
  tap/tcp_stream.go
Labels: bug, agent/tapper

#1092 Fix `checkFilter` method in the acceptance tests
  acceptanceTests/cypress/integration/tests/UiTest.js
Labels: tests, CI

#1097 Call `SetProtocol` in AMQP faster and remove `GetProtocol` method
  tap/api/api.go
  tap/extensions/amqp/main.go
  tap/extensions/amqp/tcp_stream_mock_test.go
  tap/extensions/http/main.go
  tap/extensions/http/tcp_stream_mock_test.go
  tap/extensions/kafka/main.go
  tap/extensions/kafka/tcp_stream_mock_test.go
  tap/extensions/redis/tcp_stream_mock_test.go
  tap/tcp_stream.go
  tap/tlstapper/tls_stream.go
Labels: agent/tapper, proto/http, proto/kafka, proto/amqp, proto/redis

#1035 Add tolerations to api server pod
  shared/kubernetes/provider.go
Labels: bug, agent/api-server, deployment

#1094 Fix `checkFilterByMethod` in acceptance tests
  acceptanceTests/cypress/integration/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/integration/tests/Rabbit.js
  acceptanceTests/cypress/integration/tests/Redis.js
  acceptanceTests/cypress/integration/tests/UiTest.js
Labels: tests, CI

#1103 Changed OAS generator to get entries by push
  agent/main.go
  agent/pkg/api/main.go
  agent/pkg/controllers/oas_controller_test.go
  agent/pkg/oas/oas_generator.go
  agent/pkg/oas/oas_generator_test.go
  agent/pkg/oas/specgen_test.go
Labels: agent/api-server

#1118 Updated the install command UX
  cli/cmd/install.go
  cli/cmd/installRunner.go
  cli/config/configStructs/installConfig.go
Labels: enhancement, CLI
