Repository kubeshark/kubeshark, pull requests merged in 2022-06, with the labels that each got.

#1121 Remove analyze feature
  agent/main.go
  agent/pkg/api/socket_server_handlers.go
  agent/pkg/controllers/status_controller.go
  agent/pkg/models/models.go
  agent/pkg/providers/status_provider.go
  agent/pkg/routes/status_routes.go
  agent/pkg/up9/main.go
  cli/auth/authProvider.go
  cli/cmd/tap.go
  cli/cmd/tapRunner.go
  cli/config/config.go
  cli/config/configStruct.go
  cli/config/configStructs/authConfig.go
  cli/config/configStructs/tapConfig.go
  cli/mizu/consts.go
  cli/resources/createResources.go
  cli/uiUtils/confirmation.go
  cli/up9/provider.go
  shared/consts.go
  shared/kubernetes/provider.go
  shared/models.go
  shared/tokenUtils.go
  ui-common/src/components/AnalyzeButton/AnalyzeButton.tsx
  ui-common/src/components/AnalyzeButton/logo_up9.svg
  ui-common/src/components/TrafficViewer/TrafficViewer.tsx
  ui-common/src/components/TrafficViewer/TrafficViewerApi.ts
  ui-common/src/index.tsx
  ui/src/App.tsx
  ui/src/components/Header/Header.tsx
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
  ui/src/helpers/api.js
Labels: agent/api-server, CLI

#1125 Use Specific cypress version in the acceptance tests
  acceptanceTests/extensions_test.go
  acceptanceTests/tap_test.go
Labels: tests, CI

#1124 Fix cypress files to cypress version 10 (migration)
  acceptanceTests/Makefile
  acceptanceTests/cypress.config.js
  acceptanceTests/cypress.json
  acceptanceTests/cypress/e2e/testHelpers/StatusBarHelper.js
  acceptanceTests/cypress/e2e/testHelpers/TrafficHelper.js
  acceptanceTests/cypress/e2e/tests/GuiPort.js
  acceptanceTests/cypress/e2e/tests/IgnoredUserAgents.js
  acceptanceTests/cypress/e2e/tests/MultipleNamespaces.js
  acceptanceTests/cypress/e2e/tests/NoRedact.js
  acceptanceTests/cypress/e2e/tests/Rabbit.js
  acceptanceTests/cypress/e2e/tests/Redact.js
  acceptanceTests/cypress/e2e/tests/Redis.js
  acceptanceTests/cypress/e2e/tests/Regex.js
  acceptanceTests/cypress/e2e/tests/RegexMasking.js
  acceptanceTests/cypress/e2e/tests/UiTest.js
  acceptanceTests/extensions_test.go
  acceptanceTests/tap_test.go
Labels: tests, CI

#1130 Minikube start with more memory&cpu
  acceptanceTests/setup.sh
Labels: bug, CI

#1120 Add Go `crypto/tls` eBPF tracer for TLS connections
  .github/workflows/static_code_analysis.yml
  .github/workflows/test.yml
  Dockerfile
  agent/go.mod
  agent/go.sum
  devops/install-capstone.sh
  devops/linux-arm64-musl-go-libpcap-capstone/Dockerfile
  devops/linux-arm64-musl-go-libpcap-capstone/build-push.sh
  devops/linux-arm64-musl-go-libpcap/build-push.sh
  devops/linux-x86_64-musl-go-libpcap-capstone/Dockerfile
  devops/linux-x86_64-musl-go-libpcap-capstone/build-push.sh
  devops/linux-x86_64-musl-go-libpcap/build-push.sh
  tap/go.mod
  tap/go.sum
  tap/passive_tapper.go
  tap/tlstapper/bpf-builder/Dockerfile
  tap/tlstapper/bpf/common.c
  tap/tlstapper/bpf/fd_tracepoints.c
  tap/tlstapper/bpf/go_uprobes.c
  tap/tlstapper/bpf/include/common.h
  tap/tlstapper/bpf/include/go_abi_internal.h
  tap/tlstapper/bpf/include/go_types.h
  tap/tlstapper/bpf/include/maps.h
  tap/tlstapper/bpf/openssl_uprobes.c
  tap/tlstapper/bpf/tls_tapper.c
  tap/tlstapper/bpf_logger_messages.go
  tap/tlstapper/chunk.go
  tap/tlstapper/go_hooks.go
  tap/tlstapper/go_offsets.go
  tap/tlstapper/ssllib_finder.go
  tap/tlstapper/tls_poller.go
  tap/tlstapper/tls_process_discoverer.go
  tap/tlstapper/tls_reader.go
  tap/tlstapper/tls_tapper.go
  tap/tlstapper/tlstapper_bpfeb.go
  tap/tlstapper/tlstapper_bpfeb.o
  tap/tlstapper/tlstapper_bpfel.go
  tap/tlstapper/tlstapper_bpfel.o
Labels: agent/tapper, eBPF

#1137 Upgrade Basenine to `v0.8.3`
  Dockerfile
  agent/go.mod
  agent/go.sum
Labels: basenine

#1138 Update Basenine hashes
  agent/go.mod
  agent/go.sum
Labels: basenine

#1139 Fix images imports
  ui-common/src/components/EntriesList/EntriesList.tsx
  ui-common/src/components/EntriesList/assets/downImg.svg
  ui-common/src/components/EntriesList/assets/spinner.svg
  ui-common/src/components/EntryDetailed/EntryDetailed.tsx
  ui-common/src/components/EntryDetailed/assets/spinner.svg
  ui-common/src/components/EntryListItem/EntryListItem.tsx
  ui-common/src/components/Filters/Filters.tsx
  ui-common/src/components/Filters/assets/filter-ui-example-1.png
  ui-common/src/components/Filters/assets/filter-ui-example-2.png
  ui-common/src/components/UI/CollapsibleContainer/CollapsibleContainer.tsx
  ui-common/src/components/UI/CollapsibleContainer/assets/collapsed.svg
  ui-common/src/components/UI/CollapsibleContainer/assets/expanded.svg
  ui-common/src/components/UI/FancyTextDisplay/FancyTextDisplay.tsx
  ui-common/src/components/UI/FancyTextDisplay/assets/duplicate.svg
  ui-common/src/components/UI/NoDataMessage/NoDataMessage.tsx
  ui-common/src/components/UI/NoDataMessage/assets/dotted-circle.svg
  ui-common/src/components/UI/SearchableDropdown/SearchableDropdown.tsx
  ui-common/src/components/UI/SearchableDropdown/assets/DefaultIconDown.svg
  ui-common/src/components/UI/Select/Select.tsx
  ui-common/src/components/UI/Select/assets/defaultIconDown.svg
  ui-common/src/components/UI/StatusBar/StatusBar.tsx
  ui-common/src/components/UI/StatusBar/assets/failed.svg
  ui-common/src/components/UI/StatusBar/assets/success.svg
  ui-common/src/components/UI/StatusBar/assets/warning_icon.svg
  ui-common/src/components/UI/assets/default_icon_down.svg
  ui-common/src/components/assets/authBackground.png
  ui-common/src/components/assets/icon-next.svg
  ui-common/src/components/assets/icon-prev.svg
  ui-common/src/components/modals/OasModal/OasModal.tsx
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.tsx
  ui-common/src/components/modals/ServiceMapModal/assets/spinner.svg
Labels: web-ui

#1143 Node sass npm package migrate to sass npm package
  ui-common/package-lock.json
  ui-common/package.json
  ui-common/src/components/UI/InformationIcon/InformationIcon.tsx
  ui/package-lock.json
  ui/package.json
Labels: web-ui

#1150 TRA_4579 - fix acceptance test of right panel body checkboxes
  acceptanceTests/cypress/e2e/tests/UiTest.js
  ui-common/src/components/EntryDetailed/EntrySections/EntrySections.tsx
Labels: tests

#1155 Fix a `slice bounds out of range` panic in Go offsets calculation
  tap/tlstapper/go_offsets.go
Labels: bug, eBPF

#1144 Accumulative stats for protocol and methods
  agent/pkg/api/main.go
  agent/pkg/controllers/status_controller.go
  agent/pkg/providers/stats_provider.go
  agent/pkg/providers/stats_provider_test.go
  agent/pkg/routes/status_routes.go
Labels: agent/api-server

#1153 TRA-4602 Traffic statistics - Pie Chart
  ui-common/package.json
  ui-common/src/components/modals/ServiceMapModal/ServiceMapModal.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficPieChart/TrafficPieChart.tsx
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.module.sass
  ui-common/src/components/modals/TrafficStatsModal/TrafficStatsModal.tsx
  ui-common/src/components/modals/TrafficStatsModal/assets/close.svg
  ui-common/src/components/modals/TrafficStatsModal/assets/spinner.svg
  ui-common/src/helpers/Utils.ts
  ui-common/src/index.tsx
  ui/src/App.tsx
  ui/src/components/Pages/TrafficPage/TrafficPage.tsx
  ui/src/components/assets/trafficStats.svg
  ui/src/helpers/api.js
  ui/src/recoil/trafficStatsModalOpen/atom.ts
  ui/src/recoil/trafficStatsModalOpen/index.ts
Labels: web-ui

#1151 Add ARM64 support to eBPF
  Dockerfile
  devops/linux-arm64-musl-go-libpcap-capstone-bpf/Dockerfile
  devops/linux-arm64-musl-go-libpcap-capstone-bpf/build-push.sh
  devops/linux-arm64-musl-go-libpcap-capstone/build-push.sh
  devops/linux-x86_64-musl-go-libpcap-capstone-bpf/Dockerfile
  devops/linux-x86_64-musl-go-libpcap-capstone-bpf/build-push.sh
  devops/linux-x86_64-musl-go-libpcap-capstone/build-push.sh
  tap/tlstapper/bpf-builder/build.sh
  tap/tlstapper/bpf/common.c
  tap/tlstapper/bpf/go_uprobes.c
  tap/tlstapper/bpf/openssl_uprobes.c
  tap/tlstapper/go_offsets.go
  tap/tlstapper/tls_tapper.go
  tap/tlstapper/tlstapper_bpfeb.o
  tap/tlstapper/tlstapper_bpfel.o
  tap/tlstapper/tlstapper_bpfel_arm64.go
  tap/tlstapper/tlstapper_bpfel_arm64.o
  tap/tlstapper/tlstapper_bpfel_x86.go
  tap/tlstapper/tlstapper_bpfel_x86.o
Labels: arch/arm64, eBPF

#1163 Remove OAS contract monitoring feature
  agent/go.mod
  agent/go.sum
  agent/pkg/api/contract_validation.go
  agent/pkg/api/main.go
  cli/cmd/tap.go
  cli/cmd/tapRunner.go
  cli/config/configStructs/tapConfig.go
  cli/go.mod
  cli/go.sum
  cli/resources/createResources.go
  shared/consts.go
  shared/kubernetes/provider.go
  tap/api/api.go
  tap/api/go.mod
  tap/api/go.sum
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/go.mod
  tap/extensions/amqp/go.sum
  tap/extensions/amqp/main.go
  tap/extensions/http/Makefile
  tap/extensions/http/go.mod
  tap/extensions/http/handlers.go
  tap/extensions/http/main.go
  tap/extensions/http/matcher.go
  tap/extensions/http/sensitive_data_cleaner.go
  tap/extensions/http/structs.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/go.mod
  tap/extensions/kafka/go.sum
  tap/extensions/kafka/main.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/go.mod
  tap/extensions/redis/go.sum
  tap/extensions/redis/main.go
  tap/go.mod
  tap/go.sum
  ui-common/src/components/EntryDetailed/EntryDetailed.tsx
  ui-common/src/components/EntryDetailed/EntrySections/EntrySections.tsx
  ui-common/src/components/EntryDetailed/EntryViewer/EntryViewer.tsx
  ui-common/src/components/EntryListItem/EntryListItem.tsx
Labels: agent/api-server, agent/tapper, CLI

#1162 Fix Go `crypto/tls` eBPF tracer on ARM64
  Dockerfile
  agent/go.mod
  agent/go.sum
  devops/install-capstone.sh
  devops/linux-arm64-musl-go-libpcap-capstone-bpf/Dockerfile
  devops/linux-arm64-musl-go-libpcap-capstone-bpf/build-push.sh
  devops/linux-x86_64-musl-go-libpcap-capstone-bpf/Dockerfile
  devops/linux-x86_64-musl-go-libpcap-capstone-bpf/build-push.sh
  tap/go.mod
  tap/go.sum
  tap/tlstapper/bpf/go_uprobes.c
  tap/tlstapper/bpf/include/go_abi_internal.h
  tap/tlstapper/go_offsets.go
  tap/tlstapper/tlstapper_bpfel_arm64.o
  tap/tlstapper/tlstapper_bpfel_x86.o
Labels: agent/tapper, arch/arm64, eBPF

#1164 Change the log level from `ERROR` to `INFO` for cases; not a Go binary or symbol table is stripped
  tap/tlstapper/tls_tapper.go
Labels: eBPF

#1167 Changed entry protocol field from struct to unique string
  agent/pkg/api/entry_streamer_socket_connector.go
  agent/pkg/api/main.go
  agent/pkg/api/socket_routes.go
  agent/pkg/app/main.go
  agent/pkg/entries/entries_provider.go
  agent/pkg/oas/oas_generator.go
  tap/api/api.go
  tap/extensions/amqp/Makefile
  tap/extensions/amqp/main.go
  tap/extensions/amqp/main_test.go
  tap/extensions/http/Makefile
  tap/extensions/http/main.go
  tap/extensions/http/main_test.go
  tap/extensions/kafka/Makefile
  tap/extensions/kafka/main.go
  tap/extensions/kafka/main_test.go
  tap/extensions/redis/Makefile
  tap/extensions/redis/main.go
  tap/extensions/redis/main_test.go
Labels: agent/api-server, agent/tapper

#1168 Add reply endpoint for http
  agent/main.go
  agent/pkg/controllers/replay_controller.go
  agent/pkg/providers/tappedPods/tapped_pods_provider.go
  agent/pkg/replay/replay.go
  agent/pkg/replay/replay_internal_test.go
  agent/pkg/routes/replay_routes.go
  shared/models.go
Labels: enhancement, agent/api-server

#1173 Fix replay Endpint
  agent/pkg/replay/replay.go
Labels: bug, agent/api-server
