Repository kubeshark/kubeshark, pull requests merged in 2024-09, with the labels that each got.

#1602 fix: respect `tap.docker.imagePullSecrets`
  helm-chart/templates/04-hub-deployment.yaml
  helm-chart/templates/06-front-deployment.yaml
  helm-chart/templates/09-worker-daemon-set.yaml
Labels: bug, helm

#1610 Template the `-staletimeout` flag
  config/configStructs/tapConfig.go
  helm-chart/templates/09-worker-daemon-set.yaml
  helm-chart/values.yaml
  manifests/complete.yaml
Labels: worker

#1616 Add `udp` to list of enabled dissectors
  config/configStruct.go
  config/configStructs/tapConfig.go
  helm-chart/README.md
  helm-chart/values.yaml
  manifests/complete.yaml
Labels: proto/udp
